
body {
    background-color: #edecec;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6, p, a {
    font-size: 1rem;
}

header {
    min-height: 70px;

}

section {
    padding: 50px 0;
}

.center {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*SCENARIO*/
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #f9690e;
    position: absolute;
    top: 3.1px;
    left: 3.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
/*FORM*/
[type="text"]{
    margin-bottom: .5rem;
    border: 0;
    height: 40px;
    padding: .5rem;
}
[type="submit"]{
    border: 0;
    height: 40px;
    cursor:pointer;
    background-color: #f9690e;
    color:#fff;
}
/*RESULTS*/
.box {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}
.score{
    width:70px;
}
.graph {
    width: 70px;
    height: 70px;
    display: block;
}

.circle {
    stroke: #0F4C81;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0,100;
    }
}
